<!DOCTYPE>
<html lang="en">
    <head>
        <!-- Meta Tag -->
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>PULSE Technology | Kickstart the heart of your business</title>
            <meta name="description" content="PULSE Technology | Kickstart the heart of your business">
            <meta name="keywords" content="technology">
            <meta name="author" content="PulseTechnology.com">
        <!-- External CSS -->
            <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/owl.carousel.min.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/owl.theme.default.min.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/animate.css">

            <link rel="stylesheet" href="../assets/css/slick.css" />
            <!-- CSS Base -->
            <link id="theme" rel="stylesheet" href="../assets/css/theme-blue.css" />

            <link rel="stylesheet" type="text/css" href="../assets/css/magnific-popup.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/YTPlayer.css">
            <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Custom CSS -->
            <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
            <link rel="stylesheet" type="text/css" href="/css/page1.css">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Didact+Gothic|Lato|Roboto+Condensed" rel="stylesheet"> 
        <!-- FontAwesome Icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Favicon -->
            <link rel="icon" href="assets/images/header/favicon-pulse.png">
            <link rel="apple-touch-icon" href="assets/images/header/apple-icon.png">
            <link rel="apple-touch-icon" sizes="72x72" href="assets/images/header/apple-icon-72x72.jpg">
            <link rel="apple-touch-icon" sizes="114x114" href="assets/images/header/apple-icon-114x114.png">
        <!-- Jquery 3.1.1-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
         
    </head>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/home"><img src="../assets/BANNER.png" height="120px" width="295px"></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/404">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/404">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/order">Order Supplies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/careers">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/404">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/404">Contact</a>
                        </li>
                    </ul>
                </div>
              </nav>

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown2">
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               IT Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/page1">VCIO</a>
                              <a class="dropdown-item" href="/404">Backup & Recovery Services</a>
                              <a class="dropdown-item" href="/404">Managed Network Services</a>
                              <a class="dropdown-item" href="/404">Managed Antivirus</a>
                              <a class="dropdown-item" href="/404">Phone Systems</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Printers/Copiers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/404">Multifunction Printers</a>
                              <a class="dropdown-item" href="/404">Desktop Printers</a>
                              <a class="dropdown-item" href="/404">Production Print</a>
                              <a class="dropdown-item" href="/404">Managed Print Services</a>
                              <a class="dropdown-item" href="/404">Business Applications</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Video Displays
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/404">Video Walls</a>
                              <a class="dropdown-item" href="/404">Interactive Touch Displays</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Document Software
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/404">Digital Storage & Retreival</a>
                              <a class="dropdown-item" href="/404">Workflow Management</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Office Essentials
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/404">Office Furniture</a>
                              <a class="dropdown-item" href="/404">Supplies</a>
                              <a class="dropdown-item" href="/404">Technology Equipment</a>
                              <a class="dropdown-item" href="/404">Pro Air Purifiers</a>
                              <a class="dropdown-item" href="/404">Water Coolers</a>
                            </div>
                          </li>                    
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="/404" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Industries
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/404">Legal</a>
                            <a class="dropdown-item" href="/404">Engineering</a>
                            <a class="dropdown-item" href="/404">Healthcare</a>
                            <a class="dropdown-item" href="/404">Education</a>
                            <a class="dropdown-item" href="/404">Manufacturing</a>
                            <a class="dropdown-item" href="/404">Finance</a>
                            <a class="dropdown-item" href="/404">Government</a>
                            <a class="dropdown-item" href="/404">Non-Profit</a>
                            <a class="dropdown-item" href="/404">Real Estate</a>
                            <a class="dropdown-item" href="/404">Hospitality</a>
                            <a class="dropdown-item" href="/404">Automotive</a>
                            <a class="dropdown-item" href="/404">Advertising</a>
                            <a class="dropdown-item" href="/404">Religion</a>
                            <a class="dropdown-item" href="/404">Entertainment</a>
                            </div>
                        </li>
                      </ul>
                    </div>
                  </nav>

<div class="mhead">
<i class="fas fa-bars fa-2x" id="menu-ham"></i>
</div>

<div class="menu">
  <div class="close-menu">
    <i class="fas fa-times fa-lg"></i>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Order Supplies</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">IT Services</a></li>
    <li><a href="#">Printers/Copiers</a></li>
    <li><a href="#">Video Displays</a></li>
    <li><a href="#">Document Software</a></li>
    <li><a href="#">Office Essentials</a></li>
    <li><a href="#">Industries</a></li>
  </ul>
</div>



<body data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Loader -->
<div id="page-loader">
    <svg class="loader" viewBox="0 0 28 28">
        <circle cx="14" cy="14" r="12" stroke-width="2"></circle>
    </svg>
</div>

<!-- BODY -->

    {{{ body }}}

<!-- FOOTER -->
<!-- CONTACT US -->
<!-- Start Connect With Us -->
		<section id="contact" class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title animated fadeInDown">
                                <h2>Connect <span>With Us.</span></h2>
                                <div class="border-line">
                                    <span class="border-box"></span>
                                </div>
                               </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-2">
                            <div class="single-team-item wow fadeIn" data-wow-delay="0.3s">
                                     <div class="team-item-social">
                                        <ul>
                                            <li class="linkedin"><a href="https://www.linkedin.com/company/pulsetechnology/" target="_blank"><i class="fab fa-linkedin-in fa-5x"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                    </div>
                        <div class="col-md-2">
                            <div class="single-team-item wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item-social">
                                        <ul>
                                            <li class="facebook"><a href="https://www.facebook.com/PulseTechnology1/" target="_blank"><i class="fab fa-facebook-f fa-5x"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-team-item wow fadeIn" data-wow-delay="0.2s">
                                    <div class="team-item-social">
                                        <ul>
                                            <li class="twitter"><a href="https://twitter.com/PULSETechnolog1" target="_blank"><i class="fab fa-twitter fa-5x"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-team-item wow fadeIn" data-wow-delay="0.3s">
                                     <div class="team-item-social">
                                        <ul>
                                            <li class="instagram"><a href="https://www.instagram.com/pulse.technology/" target="_blank"><i class="fab fa-instagram fa-5x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-2">
                            <div class="single-team-item wow fadeIn" data-wow-delay="0.4s">
                                <div class="team-item-social">
                                        <ul>
                                            <li class="youtube"><a href="https://www.youtube.com/channel/UCca3bMw2QwJGz8V9j5ezmKQ?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-5x"></i></a></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row text-center">
                    <div class="button-group slider-animation-up">
                        <h3 class="subscribe">Stay up to date with the latest news at Pulse Technology.</h3>
							<a class="btn btn-normal btn-xl" href="/404">SUBSCRIBE</a>
					</div>
                </div>
                
                </section>

        <!-- Window - Message -->
        <div id="message-window" class="window window-primary">
            <svg class="window-background" viewBox="0 0 1920 1080" preserveAspectRatio="none"></svg>
            <div class="window-inner">
                <section class="section dark">
                    <div class="section-content">
                        <div class="container">
                            <!-- Section Header -->
                            <div class="section-header">
                                <img src="assets/images/header/favicon-pulse.png" alt="" class="section-header-image">
                                <div class="section-header-content">
                                    <span class="typing">KICKSTART THE HEART OF YOUR BUSINESS</span>
                                </div>
                            </div>
                            <!-- Section Content -->
                            <form class="contact-form form-text"
                            data-message-error="Opps... Something went wrong - please try again later"
                            data-message-success="Thanks! You will recieve a responsve in 24h!" data-validate>
                                <div class="form-group">Name:<input name="name" type="text" class="form-control-text" required></div>
                                <div class="form-group">Email:<input name="email" type="email" class="form-control-text" required></div>
                                <div class="form-group">Message:<textarea name="message" cols="30" rows="4" class="form-control-text" required></textarea></div>
                                <button class="btn btn-white btn-lg">Send Message</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Window Toggle - Message -->
        <button class="window-toggle" data-target="#message-window"><i class="fa fa-comments fa-2x"></i><i class="fa fa-times fa-2x"></i></button>

        <!-- Modal / Video -->
        <div class="modal modal-video fade" id="modalVideo" role="dialog">
            <button class="close" data-dismiss="modal"></button>
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <iframe height="500"></iframe>
                </div>
            </div>
        </div>




<!-- /End Connect With Us -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom text-center">
                    <p>Copyright @2018 Pulse Technology</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->



<!-- jQuery js -->
<script src="/assets/js/jquery.min.js"></script>
<!-- BootStrap js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- OwlCarousel Js  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Wow js -->
<script src="/assets/js/wow.min.js"></script>
<!-- Parallas Js-->
<script src="/assets/js/jquery.stellar.min.js"></script>
<!-- Smooth Scroll Js -->
<script src="/assets/js/SmoothScroll.js"></script>
<!-- Skill Easypiechart,Inview js -->
<script src="/assets/js/jquery.easypiechart.min.js"></script>
<script src="/assets/js/jquery.inview.min.js"></script>
<!-- particles JS -->
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/app.js"></script>
<!-- Counterup, Waypoints Js -->
<script src="/assets/js/jquery.counterup.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup Js -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Mixitup Js -->
<script src="/assets/js/jquery.mixitup.js"></script>
<script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
<!-- Main Custom Js -->
<script src="/js/custom.js"></script>
<script src="/js/javascript.js"></script>


<!-- JS Plugins -->

<script src="assets/plugins/jquery.appear/jquery.appear.js"></script>
<script src="assets/plugins/tether/dist/js/tether.min.js"></script>

<script src="assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/plugins/masonry-layout/dist/masonry.pkgd.min.js"></script>
<script src="assets/plugins/slick-carousel/slick/slick.min.js"></script>

<script src="assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="assets/plugins/typed.js/dist/typed.min.js"></script>
<script src="assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="assets/plugins/snapsvg/dist/snap.svg-min.js"></script>
<script src="assets/plugins/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="assets/plugins/moment/min/moment.min.js"></script>

<!-- JS Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRMEkSrFLFkLKHyLVwT0DLLTqcUhUUZdM"></script>

<!-- JS Core -->
<script src="assets/js/core.js"></script>











</body>

</html>