<main> 

<!-- Start Blogs -->
<section id="why" class="blog section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title wow fadeInDown">
                        <div class="blogs-title">       
                            <h2 class="text-center"><span>COMING</span> SOON</h2>
                        </div>
                            <h4 class="text-center">Sorry! The page you are looking for is currently under construction.</h4>
                        <p class="text-center" id="tag">We've been hard at work these past few months, but we're excited to announce that the Pulse Technology family is growing! We've partnered up to offer everything from IT Services to office supplies and furniture. While we're doing our best to get everything up and running, please refer to the following companies for all of your business's current needs. </p>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn">
                        <div class="single-blog-images">
                            <img class="img-fluid" src="../assets/images/home/dpoe-370x200.png" alt="">
                        </div>
                        <div class="single-blog-content">
                            <h3>Des Plaines Office Equipment</h3>
                                <ul>
                                    <li>Founded in 1955 in Des Plaines, IL</li>
                                    <li>2nd Generation Family Owned & Operated</li>
                                    <li>Specializes in IT Services, Video Displays, & Document Software</li>
                                </ul>
                        <div class="row">
                            <a href="http://www.dpoe.com" class="sigle-blog-readmore-btn">DPOE.COM</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn" data-wow-duration="2s">
                        <div class="single-blog-images">
                            <img class="img-fluid" src="../assets/images/home/mcshanes-370x200.png" alt="">
                        </div>
                        <div class="single-blog-content">
                            <h3>McShane's Business Solutions</h3>
                                <ul>
                                    <li>Founded in 1921 in Hammond, IN</li>
                                    <li>4th Generation Family Owned & Operated</li>
                                    <li>Specializes in Printers/Copiers, Office Supplies, & IT Services</li>
                                </ul>
                        <div class="row">
                            <a href="http://www.mcshanes.com" class="sigle-blog-readmore-btn">MCSHANES.COM </a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn" data-wow-duration="4s">
                        <div class="single-blog-images">
                            <img class="img-fluid" src="../assets/images/home/KL-370x200.png" alt="">
                        </div>
                        <div class="single-blog-content">
                            <h3>Kramer & Leonard</h3>
                                <ul>
                                    <li>Founded in 1983 in Chesterton, IN</li>
                                    <li>2nd Generation Family Owned & Operated</li>
                                    <li>Specializes in Office Furniture, Office Supplies, & Printers/Copiers</li>
                                </ul>
                        <div class="row">
                            <a href="http://www.kramerleonard.com" class="sigle-blog-readmore-btn">KRAMERLEONARD.COM</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /End Blogs -->
</div>
</section>


<script type="text/javascript">
       $("#404").addClass("active");
    res.send("/404")
     };
</script>



</main>