<main>

<section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title wow fadeInDown" id="career-title">
                        <div class="blogs-title">       
                            <h2 class="text-center">KICKSTART<span> YOUR CAREER</span></h2>
                        </div>
                            <h4 class="text-center">Pulse Technology has an engaged workforce, dedicated to your growth and future opportunities within the company.  We believe in open communication, employee recognition and giving back to the community.  We’ve adopted the Fish! Philosophy, which inspires four basic practices:</h4>
                    </div>
                </div>
            </div>
        </div>


<section id="services">
    <div class="container-fluid">
        <div class="row" id="blue">
            <div class="col-lg-6 m-auto col-sm-12" id="header">
                <div class="section-heading text-center">
                    <div id="career-points1">
                        <span class="align-middle"><ul>
                            <li><b class="fish">Choose Your Attitude:</b> In order to provide co-workers, customers and vendors a culture we can be proud of, we choose a positive attitude to start each day.  This helps us build stronger relationships, both internally and externally.</li> 
                            <li><b class="fish">Be There:</b> Take the time to listen; really listen and be emotionally present for people.  This will improve communication and strengthen relationships.</li>
                            <li><b class="fish">Play:</b>  Work hard, play hard!  We encourage creativity and enthusiasm.  Let’s get up in the morning and look forward to going to work!</li>
                            <li><b class="fish">Make Their Day:</b>  We believe that mutual respect and common courtesy are simple ways to make someone’s day.</li>
                        </ul></span>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 m-auto col-cm-12" id="careers">
                <img src="./assets/images/home/careers1.png" class="img-fluid" width="100%" id="door">
            </div>
        </div>
    
    
    </div>
</section>

<section id="career-title">
    <h5 class="text-center">We appreciate our employees and offer a comprehensive benefit package.  With an ambassador committee that plans monthly activities and events, our workforce is engaged and continually building camaraderie, getting to know one another, building trust and creating friendships.</h5>
</section>

<div class="row">
    <div class="container">

        <script id="gnewtonjs" type="text/javascript" src="//newton.newtonsoftware.com/career/iframe.action?clientId=8a7883c662d6b2c80162d9a82b3b27a1">
        </script>
    </div>
</div>

</main>