<main>

   <body data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Banner 1 Header -->
    <div id="header-img">
        <img src="assets/images/home/Pulse-Banner-Black1.png" id="tagline-img" width="100%" height="auto">
        <!-- PULSE Animation -->
            <span>
                <svg class="animation" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1213 151.94">
                    <path class="path" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M1.93,350.09c2.07-.07,4.14-.19,6.2-.19l766.63,0c13.32,0,26.64-.07,40,.1,2.89,0,4.08-1,5-3.65,6.1-18.68,12.37-37.31,18.58-55.95,1.92-5.75,4.85-8.23,9.26-7.88,4.18.34,6.87,3.16,7.92,8.73q9.18,48.81,18.28,97.64c.27,1.44.6,2.86,1,4.83,2-2.49,2.48-5.07,3.37-7.42q12.36-32.53,24.59-65.11c1.54-4.09,3.59-7.58,8.62-7.63,4.44,0,7.26,2.51,9,8.26,4.7,15.25,9.31,30.53,14,45.77.41,1.34.3,3,2,4.14,5.17-5.62,10.47-11.15,15.49-16.93,3-3.53,6.53-4.95,11.23-4.94q125.4.14,250.81,0v1.78a20.94,20.94,0,0,0,0,13.32v1.77q-123.21,0-246.41-.1a7.69,7.69,0,0,0-6.4,3q-10.74,12.11-21.77,24c-6.39,6.91-13.54,5.22-16.22-3.81-3.5-11.76-6.87-23.55-10.31-35.32-.49-1.68-1-3.34-1.89-6-4.59,12.16-8.81,23.37-13,34.57q-8.29,22-16.59,44c-2.11,5.58-5.07,7.78-9.66,7.38-4.2-.36-6.82-3.07-7.91-8.79q-9.26-48.81-18.39-97.64c-.08-.41-.22-.81-.32-1.21-1.72-.15-1.41,1.29-1.69,2.12-3.45,10.22-6.83,20.46-10.26,30.69-1.85,5.5-4.36,7.26-10.18,7.26l-816.5-.07c-1.48,0-2.95-.12-4.43-.19Z" transform="translate(-0.89 -282.46)" style="fill:#039cda"/>
                    <path class="path" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1" stroke-miterlimit="10" d="M1.93,350.09v16.43l-1,.22V349.87Z" transform="translate(-0.89 -282.46)" style="fill:#7ecceb"/>
                    <path class="path" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1" stroke-miterlimit="10" d="M1213.89,365a20.94,20.94,0,0,1,0-13.32Z" transform="translate(-0.89 -282.46)" style="fill:#2eace0"/>
                </svg> 
            </span>
    </div>
<!-- Navbar -->
<nav class="navbar-default">
    <ul class="nav justify-content-center">
        <li class="nav-item1"><a class="smoth-scroll" href="#who"><b>WHO WE ARE</b></a></li>
        <li class="nav-item1"><a class="smoth-scroll" href="#what"><b>WHAT WE DO</b></a></li>
        <li class="nav-item1"><a class="smoth-scroll" href="#why"><b>WHY PULSE?</b></a></li>
        <li class="nav-item1"><a class="smoth-scroll" href="#contact"><b>CONTACT US</b></a></li>
    </ul>
</nav>
<!-- /End Navbar -->
<!-- WHO WE ARE -->
    <!-- Start About us Area -->
    <section id="who" class="">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 justify-content-center">
                    <div class="about-content">
                        <h2>About <span > US </span></h2>
                        <p>Pulse Technology has been leading the way in technological innovation for nearly 100 years. Previously known as Des Plaines Office Equipment, McShane’s Business Solutions, and Kramer & Leonard, we have combined our expertise, products, and services to offer a complete one-stop-shop for all your office needs.</p>
                        <p>Today, Pulse Technology is known as the culmination of 3 family owned companies coming together and continuing to grow in an ever-changing digital world. With roots in Des Plaines, IL, Hammond, IN, and Chesterton, IN, Pulse Technology’s humble beginnings have instilled the values we still employ today.</p>
                        <p>Through a combination of nearly 200 years of experience in the industry, we know that there is no one-size-fits-all solution when it comes to technology. Every business is different and their needs are vastly different. That is why Pulse Technology offers one of the largest arrays of technological products, services and solutions.</p>
                        <div class="about-button wow fadeIn">
                            <a class="btn btn-primary" href="/404">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="about-images wow fadeIn">
                        <a href="#"><img src="assets/images/home/PulseSign1.png" alt="about misti" class="img-fluid" id="pulse-sign"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /End About US Area -->
<!-- Start LOCATIONS Area -->
<section id="our-skill">
   
<div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-4 justify-content-center">
                        <div class="about-images wow fadeIn">
                            <a href="#"><img src="assets/images/home/OurLocations.png" alt="about misti" class="img-fluid" id="IL-IN"></a>
                        </div>
                </div>
                <div class="section-title">
                        <h2 class="text-center wow fadeInDown" id="location-title">Locations</h2>
                <div class="container col-xs-12 col-sm-12 col-md-8 justify-content-center" id="locations">
                    <div class="row">
                      <div class="col text-center">
                        <span class="address"><h4>Carol Stream
                            <br>262 Carlton Drive
                            <br>Carol Stream, IL 60188
                            <br>(847) 879-6400</h4>
                        </span>
                      </div>
                      <div class="col text-center">
                        <span class="address"><h4>Chicago
                            <br>211 W Wacker Drive
                            <br>Chicago, IL 60606
                            <br>(312) 896-1000</h4>
                        </span>
                      </div>
                      <br>
                      <div class="w-100"></div>
                      <br>
                      <div class="col text-center">
                        <span class="address"><h4>Rockford
                            <br>1445 Windsor Drive
                            <br>Loves Park, IL 61111
                            <br>(815) 654-0200</h4>
                        </span>
                      </div>
                      <div class="col text-center">
                        <span class="address"><h4>Chesterton
                            <br>312 Roberts Road
                            <br>Chesterton, IN 46304
                            <br>(219) 926-1171</h4>
                        </span>
                      </div>
                    </div>
                  </div>
               
</div>    
</section>
<!-- /End LOCATIONS Area  -->
<!-- WHO WE ARE -->
    <!-- Start Kickstart the heart of your ... -->
<div id="what" class="welcome-slider-area">
        <div class="single-slider">
            <div id="particles-js"></div>
            <div class="slider-title">
                <div class="table-cell">
                    <h2 class="slider-title-animation">KICKSTART THE <span>HEART</span> OF YOUR BUSINESS</h2>
                    <p class="slider-animation-up">WITH:</p>                 
                                   
                    <div class="button-group slider-animation-up input-group">
                            <select class="custom-select" id="inputGroupSelect04">
                              <option value="1">IT Services</option>
                              <option value="2">Printers/Copiers</option>
                              <option value="3">Video Displays</option>
                              <option value="4">Document Software</option>
                              <option value="5">Office Essentials</option>
                            </select>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">GO</button>
                            </div>
                    </div>
                    
                    <div class="button-group slider-animation-up">
                        <h3 class="contact1">Not sure where to start? Schedule a technology assessment today and we'll handle the rest.</h3>
							<a class="btn btn-normal btn-lg" href="/404">CONTACT US</a>
					</div>
                    </div>
        </div>
</div>
<!-- /End Kickstart the heart of your ...  -->
<!-- Start Solutions/Services -->
<section id="our-portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="portfolio-inner">
                <div class="row portfolio-posts">
                    <div class="mix photography development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/IT-Services.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>IT Services</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-cogs fa-3x"></i></i></a>
                                <h3>IT Services</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/Printers-Copiers.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>Printers/Copiers</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-print fa-3x"></i></a>
                                <h3>Printers/Copiers</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/Video-Displays.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>Video Displays</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-desktop fa-3x"></i> </a>
                                <h3>Video Displays</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mix development development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/Doc-Software1.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>Document Software</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-cloud-upload-alt fa-3x"></i></a>
                                <h3>Document Software</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/office-essentials.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>Office Essentials</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-paperclip fa-3x"></i></a>
                                <h3>Office Essentials</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mix development development col-sm-6 col-md-4">
                        <div class="item">
                            <img src="assets/images/home/Industries.png" alt="">
                            <span><h1 class="item-h1 text-center"><b>Industries</b></h1></span>
                            <div class="portfolio-caption">
                                <a href="/404" class="protfolio-link-bt"><i class="fas fa-industry fa-3x"></i></a>
                                <h3>Industries</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /End Solutions/Services -->
<!-- Start Booklet Embed -->

<div data-configid="33714904/63970853" style="width:100%; height:600px;" class="issuuembed"></div>
<script type="text/javascript" src="/js/embed.js" async="true"></script>

<!-- /End Booklet Embed -->
	<!--Start counter Area -->
    <section id="conuter" class="complete-project-conuter">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
                                    <i class="fas fa-recycle" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
                                <h2 class="counter text-center">10,872</h2>
                                <h4 class="text-center"><b>TONERS</b></h4>
								<h3 class="text-center"># of Toners<br>Recycled Last Year</h3>
							</div>
						</div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                            <div class="single-counter">
                                <div class="counter-icon">
                                    <i class="fas fa-wrench" aria-hidden="true"></i>
                                </div>
                                <div class="counter-data">
                                    <h2 class="counter text-center">12.196</h2>
                                    <h4 class="text-center"><b>YEARS</b></h4>
                                    <h3 class="text-center">Average Years of Experience <br>Per Technician</h3>
                                </div>
                            </div>
                        </div>
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fas fa-coffee" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter text-center">39,055</h2>
                                <h4 class="text-center"><b>CUPS</b></h4>
                                <h3 class="text-center">Cups of Coffee<br>Consumed Last Year</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
                            <div class="single-counter">
                                <div class="counter-icon">
                                    <i class="far fa-clock" aria-hidden="true"></i>
                                </div>
                                <div class="counter-data">
                                    <h2 class="counter text-center">10.533</h2>
                                    <h4 class="text-center"><b>YEARS</b></h4>
                                    <h3 class="text-center">Average Years of<br>Employee Tenure</h3>
                                </div>
                            </div>
                        </div>
				</div>
			</div>
		</section>
<!-- /End Counter Area -->
<!-- WHY PULSE -->
<!-- Start Blogs -->
<section id="why" class="blog section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title wow fadeInDown">
                            <div class="blogs-title">
                                    
                            <h2 class="text-center">WHY <span>PULSE</span> TECHNOLOGY?</h2>
                                   
                            </div>
                        <div class="border-line">
                            <span class="border-box"></span>
                        </div>
                        <p class="text-center" id="tag">Check out our recent posts to see how Pulse Technology can kickstart the heart of your business!</p>
                    </div>
                </div>
            </div>
           <!-- <div class="row">
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn">
                        <div class="single-blog-images">
                            <img class="img-responsive" src="assets/images/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog-data">
                            <p>10<span>SEP</span></p>
                        </div>
                        <div class="single-blog-content">
                            <h3>Top Learning Management System </h3>
                            <p class="signl-blog-meta">
                                <a href="#"><i class="fa fa-user"></i>by John Mitcher</a>
                                <a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i>Office, Business</a>
                                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>25</a>
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                            <a href="single.html" class="sigle-blog-readmore-btn">Read more </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn" data-wow-duration="2s">
                        <div class="single-blog-images">
                            <img class="img-responsive" src="assets/images/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog-data">
                            <p>10<span>SEP</span></p>
                        </div>
                        <div class="single-blog-content">
                            <h3>How to Create an Image Gallery </h3>
                            <p class="signl-blog-meta">
                                <a href="#"><i class="fa fa-user"></i>by John Mitcher</a>
                                <a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i>Office, Business</a>
                                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>26</a>
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                            <a href="single.html" class="sigle-blog-readmore-btn">Read more </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-box wow fadeIn" data-wow-duration="4s">
                        <div class="single-blog-images">
                            <img class="img-responsive" src="assets/images/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog-data">
                            <p>10<span>SEP</span></p>
                        </div>
                        <div class="single-blog-content">
                            <h3>Top Learning Management System </h3>
                            <p class="signl-blog-meta">
                                <a href="#"><i class="fa fa-user"></i>by John Mitcher</a>
                                <a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i>Office, Business</a>
                                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15</a>
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                            <a href="single.html" class="sigle-blog-readmore-btn">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- /End Blogs -->
</div>
</section>
<!-- Start Awards Slider -->
		<section id="special" class="section-padding">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="special-item owl-carousel">
                                <div class="special-single-content text-center">
                                    <img src="assets/images/home/ENX.png" class="img-fluid">
                                    <p>Pulse Technology awarded Elite Dealer 2017 <br>by ENX Magazine for the 11th Consecutive Year</p>
                                    <a class="btn-service" href="https://www.dailyherald.com/business/20180115/des-plaines-office-equipment-receives-elite-award" target="_blank"> Read More</a>
                                </div>
                                <div class="special-single-content item-open text-center">
                                    <img src="assets/images/home/INC5000.png" class="img-fluid">
                                    <p>Pulse Technology named to Inc. 5000 list; <br>among fastest-growing private companies in America </p>
                                    <a class="btn-service" href="https://www.prweb.com/releases/des_plaines_office_equipment_named_to_inc_5000_list_among_fastest_growing_private_companies_in_america/prweb15704605.htm" target="_blank"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                    <img src="assets/images/home/BBB.png" class="img-fluid">
                                    <p>A BBB Accredited Business<br> with an A+ Rating</p> </p>
                                    <a class="btn-service" href="https://www.bbb.org/us/il/elk-grove-village/profile/office-furniture/des-plaines-office-equipment-0654-33002304" target="_blank"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                        <img src="assets/images/home/greatamerica.png" class="img-fluid">
                                    <p>Awarded 2017 Prestige Dealer from <br>Great America Financial Services </p>
                                    <a class="btn-service" href="#"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                        <img src="assets/images/home/Sharp-Hyk.png" class="img-fluid">
                                        <p>Sharp recognizes Pulse Technology<br>as a Hyakuman Kai Dealer</p>
                                        <a class="btn-service" href="https://www.dailyherald.com/article/20170411/business/170419957/" target="_blank"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                        <img src="assets/images/home/Kyocera.png" class="img-fluid">
                                        <p>Kyocera recognizes Pulse Technology<br>as a Premier Dealer</p>
                                        <a class="btn-service" href="#"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                        <img src="assets/images/home/Platinum.png" class="img-fluid">
                                        <p>Sharp recognizes Pulse Technology as a<br>Platinum Level Service Provider</p>
                                        <a class="btn-service" href="#"> Read More</a>
                                </div>
                                <div class="special-single-content text-center">
                                    <img src="assets/images/home/Kyocera-Solutions.png" class="img-fluid">
                                    <p>Pulse Technology receives Copystar Service Solution Provider 2018<br>for Excellence in Customer Service </p>
                                    <a class="btn-service" href="https://www.facebook.com/dpoecompany/posts/1933559573369234" target="_blank"> Read More</a>
                            </div>
                            </div>
                        </div>
                    </div>
       
            </section>
<!-- /End Awards Slider -->
<!-- Start Pulse In The News -->
 <section id="who" class="">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 justify-content-center">
                    <div class="about-content">
                        <h2>FEATURED:<span> "PULSE Technology named to Inc. 5000 list; among fastest-growing private companies in America"</span></h2>
                            <p>CAROL STREAM, CHICAGO, and ROCKFORD, IL and CHESTERTON, IN, ISSUED AUGUST 20, 2018…Des Plaines Office Equipment (http://dpoe.com), a three-generation family business and an established leader in the fields of Managed Print Services and Managed Networks serving the Chicago market as well as Northern Indiana, has been named to the Inc. 5000 list for 2018.
                            <p>Inc. magazine today published its 37th annual Inc. 5000, the most prestigious ranking of the nation’s fastest-growing private companies. The list represents a unique look at the most successful companies within the American economy’s most dynamic segment—its independent small businesses. Microsoft, Dell, Domino’s Pizza, Pandora, Timberland, LinkedIn, Yelp, Zillow, and many other well-known names gained their first national exposure as honorees on the Inc. 5000.</p>
                        <div class="about-button wow fadeIn">
                            <a class="btn btn-primary" href="https://industryanalysts.com/82018_dpoe/" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="about-images wow fadeIn">
                        <a href="#"><img src="assets/images/home/INC5000-Congrats.png" alt="about misti" class="img-fluid" id="INC5000"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /End Pulse In the News -->


</body>


</main>

