<main> 

<body class="navigation-horizontal page-scrolling dark-scheme">

            <!-- Start Kickstart the heart of your ... -->
<div id="what" class="welcome-slider-area">
        <div class="single-slider1">
            <div id="particles-js"></div>
                <div class="container">
                    <div class="slider-title1">
                        <div class="section-title wow fadeInDown" id="career-title1">
                                <div class="blogs-title1">       
                                    <h2 class="text-center">IT SERVICES</h2>
                                    <hr>
                                </div>
                                    <p class="text-center text-white">Pulse Technology has an engaged workforce, dedicated to your growth and future opportunities within the company.  We believe in open communication, employee recognition and giving back to the community.  We’ve adopted the Fish! Philosophy, which inspires four basic practices:</p>
                            </div>    
                        </div>
                </div>            
<!-- /End Kickstart the heart of your ...  -->

<!-- Start Solutions/Services -->
<section id="our-portfolio1" class="portfolio section-padding">
    <div id="particles-js"></div>
        <div class="container">
            <div class="portfolio-inner">
                <div class="row portfolio-posts">
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mix webdesign development col-sm-6 col-md-4">
                        <div class="item1">
                                <div class="special-single-content1 text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Backup & Recovery Services</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
							</div>
                            <div class="portfolio-caption1">
                            <div class="row">
                                <h2 class="span text-center">Managed Network Services</h2>
                            </div>
                                <img src="assets/images/home/Printers-Copiers.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /End Solutions/Services -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="lead text-right">Not sure where to start? Schedule a technology assessment today.</p>
            </div>
            <div class="col-6 col-md-4">
                <button type="button" class="btn btn-primary" id="lead-btn" data-toggle="modal" data-target="#exampleModalCenter">CONTACT US</button>
            </div>
        </div>
    </div>
</div>


<!-- Resume - Education & Jobs -->
                <div class="resume-box image-edge text-center">
                        <div class="section-title wow fadeInDown" id="career-title1">
                                <div class="blogs-title2">       
                                    <h2 class="text-center"><b>OUR PROCESS</b></h2>
                                    <hr>
                                </div>
                    <div class="row">
                        <div class="col-md-10 push-md-1">
                            <!-- Timeline -->
                            <div class="timeline">
                                <!-- Timeline Event -->
                                <div class="timeline-event">
                                    <div class="timeline-event-point"></div>
                                    <div class="timeline-event-date">Schedule a business assessment with our experts. <br>We'll take an indepth look at your current <br>processes to see how your business operates.</div>
                                    <div class="timeline-event-content">
                                        <h5 class="timeline-event-title">ASSESS</h5>
                                        <span class="timeline-event-caption text-muted">Step 1</span>
                                    </div>
                                </div>
                                <!-- Timeline Event -->
                                <div class="timeline-event">
                                    <div class="timeline-event-point"></div>
                                    <div class="timeline-event-date">Utilizing the findings from our assessment, <br>we'll design a custom solution to improve efficiency <br>and increase productivity in your workplace.</div>
                                    <div class="timeline-event-content">
                                        <h5 class="timeline-event-title">DESIGN</h5>
                                        <span class="timeline-event-caption text-muted">Step 2</span>
                                    </div>
                                </div>
                                <!-- Timeline Event -->
                                <div class="timeline-event">
                                    <div class="timeline-event-point"></div>
                                    <div class="timeline-event-date">With our team of highly experienced technicians, <br>we'll seamlessly install and implement your solution so that <br>your business doesn't miss a beat during the transition.</div>
                                    <div class="timeline-event-content">
                                        <h5 class="timeline-event-title">IMPLEMENT</h5>
                                        <span class="timeline-event-caption text-muted">Step 3</span>
                                    </div>
                                </div>
                                <!-- Timeline Event -->
                                <div class="timeline-event">
                                    <div class="timeline-event-point"></div>
                                    <div class="timeline-event-date">Our work doesn't stop after implementation. We'll continue <br>to work with your team to maintain the service, parts, <br>and supplies to keep your business running smoothly.</div>
                                    <div class="timeline-event-content">
                                        <h5 class="timeline-event-title">MAINTAIN</h5>
                                        <span class="timeline-event-caption text-muted">Step 4</span>
                                    </div>
                                </div>
                                <!-- Timeline Event -->
                                <div class="timeline-event">
                                    <div class="timeline-event-point"></div>
                                    <div class="timeline-event-date">Technology is constantly changing, so we'll continually <br>optimize your solution to meet the ever-changing needs of your <br>workplace and keep your business ahead of the curve.</div>
                                    <div class="timeline-event-content">
                                        <h5 class="timeline-event-title">OPTIMIZE</h5>
                                        <span class="timeline-event-caption text-muted">Step 5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
       $("#page1").addClass("active");
            res.send("/page1")

        $('#exampleModalCenter').modal(options)
        };
</script>



</main>